@import "variables";

nav {
  display: flex;
  background-color: $color-main;
  color: $color-grey-lightX;
  box-shadow: 1px 1px 2px 1px $color-grey;

  a {
    padding: $spacing-secondary;
    margin: $spacing-secondary;
    border-radius: $border-radius-main;
    color: $color-grey-lightX;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    &.active {
      background-color: rgba($color-grey-lightX, .3);
    }

    &:last-child {
      margin-left: auto;
    }
  }
}

main {
  padding: $spacing-main;
}
