@import "variables";

// mz for mozaic
.mz-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -$spacing-secondary;

  & > at-miniature {
    width: 120px;
    margin: $spacing-secondary;
  }

  & > .mz-grid-empty {
    height: 0;
    width: 120px;
    margin: 0 $spacing-secondary;
  }
}
