@import "shared/variables";

button {
  padding: $spacing-secondary $spacing-main;
  border: 1px solid $color-main;
  border-radius: $border-radius-main;
  color: $color-grey-lightX;
  background-color: $color-main;
  cursor: pointer;
  outline: none;
}
