$form-spacing: 15px;

.form {
  display: block;
  margin-right: -$form-spacing;
  margin-left: -$form-spacing;

  button {

  }
}

.form-field {
  margin: $form-spacing;

  label,
  input {
    display: block;
  }
}
