:host {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.controls {
  display: flex;
  justify-content: center;
}
